{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="container">
	{% if watch_later_movies %}
		<div class="row">
			{% for movie in watch_later_movies %}
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="fluid-container">
						    <img src="{{ movie.poster}}">
						    <h1> {{ movie.title}} </h1>

						    <button type="button" class="btn btn-warning">
						        <i class="glyphicon glyphicon-time"></i></span> {{ movie.runtime }}
						    </button>

						    <button type="button" class="btn btn-warning">
						        <i>Rating</i> {{ movie.imdbrating }}
						    </button>
						    <br>

						    <h3> Release </h3>
						    <p>{{ movie.released }}</p>

						    <h3> Language </h3>
						    <p>{{ movie.language }}</p>

						    <h3> Summary </h3>
						    <p>{{ movie.plot }}</p>

						    <h3> Actors </h3>
						    <p>{{ movie.actors }}</p>
					    </div>
				    </div>
				</div>
			{% endfor %}
	    </div>
	{% else %}
	    <div class="alert alert-danger text-center">
	        <strong>Oops!</strong> Tidak ada data Watch Later
	    </div>
    {% endif %}
</div>
{% endblock %}
