body {
    background: #feffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 70%, #aabaff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #feffff 0%, #ddf1f9 70%, #aabaff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #feffff 0%, #ddf1f9 70%, #aabaff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#aabaff', GradientType=0);
    /* IE6-9 */
    background-attachment: fixed;
}

#lab8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 2% 2% 5%;
}

.profile {
    display: flex;
    flex-direction: column;
    width: 900px;
    /* border-width: 3px; */
    /* border-style: solid; */
    /* border-color: black; */
}

.cover {
    width: 70em;
    max-width: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

.picture {
    max-width: 20%;
    margin-left: 3em;
    margin-top: -7em;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

.data h1 {
    margin-left: 25%;
    margin-top: -2.5em;
    font-size: 30px;
}

.data h2 {
    margin-left: 25%;
    font-size: 20px;
}

.aboutme {
    width: 90%;
    margin: 20px auto;
    background: #d8dffa;
    border: 0 none;
    border-radius: 25px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    word-wrap: break-word;
}

img {
    align-self: left;

}

#msgg{
    font-size: 25px;
}

#story{
    color: white;
    font-size: 18px;
}

.feed {
    width: 90%;
    margin: 20px auto;
    background: #aabaff;
    border: 0 none;
    border-radius: 25px;
    box-shadow: 0 0 8px 1px rgba(228, 223, 223, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    word-wrap: break-word;
}