body {
    background: #feffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 70%, #aabaff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #feffff 0%, #ddf1f9 70%, #aabaff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #feffff 0%, #ddf1f9 70%, #aabaff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#aabaff', GradientType=0);
    /* IE6-9 */
    background-attachment: fixed;
}

#lab8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 2% 2% 5%;
}

.profile {
    display: flex;
    flex-direction: column;
}

.cover {
    width: 70em;
    max-width: 100%;
}

.picture {
    max-width: 20%;
    margin-left: 3em;
    margin-top: -7em;
}

.data h1 {
    margin-left: 22%;
    margin-top: -2em;
}

.data h2 {
    margin-top: 1.3em;
}

img {
    align-self: left;
}